<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Choose Business</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Please enter the name of the business you'd like to review:<br>
            Business Name{{ form.business_name(size=80) }}<br>
            Owner{{ form.owner(size=80) }}<br>
            Business Type{{ form.business_type(size=80) }}<br>
            City{{ form.location(size=80) }}<br>
        </p>
        <p><input type="submit" value="Review!"></p>
    </form>
{% endblock %}
